# Homework

In this homework, we will use the California Housing Prices data from Kaggle.
A copy  can be found in https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

We'll keep working with the 'median_house_value' variable, and we'll transform it to a classification task.

Features
For the rest of the homework, you'll need to use only these columns:

'latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value',
'ocean_proximity',

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('housing.csv')

Data preparation <br>
-Select only the features from above and fill in the missing values with 0.<br>
-Create a new column rooms_per_household by dividing the column total_rooms by the column households from dataframe.<br>
-Create a new column bedrooms_per_room by dividing the column total_bedrooms by the column total_rooms from dataframe.<br>
-Create a new column population_per_household by dividing the column population by the column households from dataframe.<br>

In [5]:
col_used =['latitude', 'longitude', 'housing_median_age', 'total_rooms', 
           'total_bedrooms', 'population', 'households', 'median_income', 
           'median_house_value', 'ocean_proximity']

In [16]:
df_housing= df[col_used].fillna(0)

In [22]:
#Create new columns
df_housing['rooms_per_household']=df_housing['total_rooms']/df_housing['households']
df_housing['bedrooms_per_room']=df_housing['total_bedrooms']/df_housing['total_rooms']
df_housing['population_per_household']=df_housing['population']/df_housing['households']

In [23]:
df_housing

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,0.129516,2.802260
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,0.184458,2.547945
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,0.172096,2.181467
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,39.48,-121.09,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,5.045455,0.224625,2.560606
20636,39.49,-121.21,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,6.114035,0.215208,3.122807
20637,39.43,-121.22,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND,5.205543,0.215173,2.325635
20638,39.43,-121.32,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,5.329513,0.219892,2.123209
20639,39.37,-121.24,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,5.254717,0.221185,2.616981

Question 1<br>

What is the most frequent observation (mode) for the column ocean_proximity?

In [21]:
df_housing.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

Question 2<br>
Create the correlation matrix for the numerical features of your train dataset.
In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
What are the two features that have the biggest correlation in this dataset?

In [24]:
#Divide dataset in train,validation and test
from sklearn.model_selection import train_test_split

In [34]:
df_train_full, df_test = train_test_split(df_housing, test_size=0.2, random_state=1)

In [59]:
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=1)

In [60]:
#Check rows por every datse
df_train.shape[0],df_val.shape[0],df_test.shape[0],

(12384, 4128, 4128)

In [61]:
df_train.dtypes

latitude                    float64
longitude                   float64
housing_median_age          float64
total_rooms                 float64
total_bedrooms              float64
population                  float64
households                  float64
median_income               float64
median_house_value          float64
ocean_proximity              object
rooms_per_household         float64
bedrooms_per_room           float64
population_per_household    float64
dtype: object

In [62]:
numerical_cols=['latitude','longitude','housing_median_age','total_rooms','total_bedrooms' 
                ,'population','households', 'median_income','median_house_value',
'rooms_per_household',
'bedrooms_per_room',        
'population_per_household'  ]

In [67]:
df_train.corr().abs().unstack().sort_values().drop_duplicates()

total_bedrooms            rooms_per_household         0.000525
population_per_household  latitude                    0.000690
longitude                 population_per_household    0.000698
population_per_household  bedrooms_per_room           0.004380
median_income             population                  0.004819
                                                        ...
households                total_rooms                 0.916417
total_rooms               total_bedrooms              0.917606
longitude                 latitude                    0.925147
households                total_bedrooms              0.965051
latitude                  latitude                    1.000000
Length: 67, dtype: float64

The max correlation happens between  total_bedrooms  and    households

Make median_house_value binary<br>
We need to turn the median_house_value variable from numeric into binary.<br>
Let's create a variable above_average which is 1 if the median_house_value is above its mean value and 0 otherwise.
Split the data<br>
Split your data in train/val/test sets, with 60%/20%/20% distribution.<br>
Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.<br>
Make sure that the target value (median_house_value) is not in your dataframe.

In [71]:
df_train_full, df_test = train_test_split(df_housing, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

In [72]:
#calculate mean house_value
train_mean_house_value=df_train.median_house_value.mean()
val_mean_house_value=df_val.median_house_value.mean()
test_mean_house_value=df_test.median_house_value.mean()

print (train_mean_house_value,val_mean_house_value,test_mean_house_value)

206807.7419250646 208355.54917635658 205500.30959302327

In [83]:
#Caculate new binary variable above_average in three sets (train,val and test)

df_train['above_average'] = (df_train.median_house_value >train_mean_house_value).astype(int)
df_val['above_average'] = (df_val.median_house_value >val_mean_house_value).astype(int)
df_test['above_average'] = (df_test.median_house_value >test_mean_house_value).astype(int)

C:\Users\jairo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\jairo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\jairo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [89]:
df_train.dtypes

latitude                    float64
longitude                   float64
housing_median_age          float64
total_rooms                 float64
total_bedrooms              float64
population                  float64
households                  float64
median_income               float64
median_house_value          float64
ocean_proximity              object
rooms_per_household         float64
bedrooms_per_room           float64
population_per_household    float64
above_average                 int32
dtype: object

Question 3<br><br>
Calculate the mutual information score with the (binarized) price for the categorical variable that we have. Use the training set only.<br>
What is the value of mutual information? <br>
Round it to 2 decimal digits using round(score, 2)

In [85]:
from sklearn.metrics import mutual_info_score

In [93]:
mi=mutual_info_score(df_train.ocean_proximity, df_train.above_average)

In [94]:
print(mi.round(2))

0.1

Question 4

Now let's train a logistic regression<br>
Remember that we have one categorical variable ocean_proximity in the data. Include it using one-hot encoding.<br>
Fit the model on the training dataset.<br>
To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:<br>
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)<br>
Calculate the accuracy on the validation dataset and round it to 2 decimal digits.<br>

In [95]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values

In [96]:
del df_train['above_average']
del df_val['above_average']

del df_train['median_house_value']
del df_val['median_house_value']

## One hot encoding

In [97]:
from sklearn.feature_extraction import DictVectorizer
train_dict = df_train.to_dict(orient='records')

In [98]:
train_dict[0]

{'latitude': 34.43,
 'longitude': -119.67,
 'housing_median_age': 39.0,
 'total_rooms': 1467.0,
 'total_bedrooms': 381.0,
 'population': 1404.0,
 'households': 374.0,
 'median_income': 2.3681,
 'ocean_proximity': '<1H OCEAN',
 'rooms_per_household': 3.9224598930481283,
 'bedrooms_per_room': 0.25971370143149286,
 'population_per_household': 3.7540106951871657}

In [99]:
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [101]:
X_train = dv.transform(train_dict)

In [102]:
#Check features names
dv.get_feature_names()

['bedrooms_per_room',
 'households',
 'housing_median_age',
 'latitude',
 'longitude',
 'median_income',
 'ocean_proximity=<1H OCEAN',
 'ocean_proximity=INLAND',
 'ocean_proximity=ISLAND',
 'ocean_proximity=NEAR BAY',
 'ocean_proximity=NEAR OCEAN',
 'population',
 'population_per_household',
 'rooms_per_household',
 'total_bedrooms',
 'total_rooms']

## Train logistic regression

In [103]:
from sklearn.linear_model import LogisticRegression

In [105]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [106]:
#Transform validation set
val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [109]:
y_pred = model.predict_proba(X_val)[:, 1]

In [110]:
y_pred

array([0.08555189, 0.15986548, 0.95300905, ..., 0.96009007, 0.85118232,
       0.46663487])

In [112]:
 above_mean= y_pred > 0.5

In [114]:
(y_val == above_mean).mean()

0.8372093023255814