# Session #1 Homework
Set up the environment
You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from 06-environment.md.

Question 1
What's the version of NumPy that you installed?

You can get the version information using the __version__ field:

In [1]:
import numpy as np
print(np.__version__)

1.16.6

Getting the data
For this homework, we'll use the Car price dataset. Download it from here.

You can do it with wget:

wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
    
Or just open it with your browser and click "Save as...".

Now read it with Pandas.

Question 2
How many records are in the dataset?

Here you need to specify the number of rows.

16
6572
11914
18990

In [2]:
import pandas as pd
df_car_price=pd.read_csv("data.csv")

In [3]:
len(df_car_price)

11914

Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

Chevrolet, Volkswagen, Toyota
Chevrolet, Ford, Toyota
Ford, Volkswagen, Toyota
Chevrolet, Ford, Volkswage

In [4]:
df_groupby_make=df_car_price.groupby(['Make'])['Make'].count().reset_index(name='count')

In [5]:
df_groupby_make.sort_values("count",ascending=False).head(3)

          Make  count
9    Chevrolet   1123
14        Ford    881
46  Volkswagen    809

Question 4
What's the number of unique Audi car models in the dataset?

In [6]:
df_audi=df_car_price[df_car_price.Make=='Audi']

In [7]:
len(df_audi.Model.unique())

34

Question 5
How many columns in the dataset have missing values?

In [8]:
df_car_price.isna().any()

Make                 False
Model                False
Year                 False
Engine Fuel Type      True
Engine HP             True
Engine Cylinders      True
Transmission Type    False
Driven_Wheels        False
Number of Doors       True
Market Category       True
Vehicle Size         False
Vehicle Style        False
highway MPG          False
city mpg             False
Popularity           False
MSRP                 False
dtype: bool

Question 6

Find the median value of "Engine Cylinders" column in the dataset.
Next, calculate the most frequent value of the same "Engine Cylinders".
Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
Now, calculate the median value of "Engine Cylinders" once again.
Has it changed?

In [9]:
df_car_price['Engine Cylinders'].median()

6.0

In [10]:
df_car_price['Engine Cylinders'].describe()

count    11884.000000
mean         5.628829
std          1.780559
min          0.000000
25%          4.000000
50%          6.000000
75%          6.000000
max         16.000000
Name: Engine Cylinders, dtype: float64

In [11]:
def max_freq_value(df,colum):
    return df.groupby([colum])[colum].count().reset_index(name='count').sort_values("count",ascending=False).head(1)

In [12]:
a = max_freq_value(df_car_price,'Engine Cylinders')

In [13]:
a

   Engine Cylinders  count
2               4.0   4752

In [14]:
# fillna() on once column
df_car_price['Engine Cylinders'] =  df_car_price['Engine Cylinders'] .fillna(4.0)

In [15]:
df_car_price['Engine Cylinders'].median()

6.0

Question 7
Select all the "Lotus" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?

In [28]:
df_lotus=df_car_price[df_car_price.Make=='Lotus'][['Engine HP', 'Engine Cylinders']]
df_lotus.drop_duplicates(inplace=True)

In [29]:
df_lotus

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [36]:
X= df_lotus.to_numpy()

In [37]:
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])